body{
  background: #A00C0C;
}
.app-container {
  max-width: 600px;
}

.status-bar {
  min-width: 689px;
}

.status-bar  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.status-bar li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

svg {
  border: 1px solid black;
}

.wall{
  fill: gray;
  stroke: black;
}

.floor{
  fill: skyblue;
  stroke: white;
}

.player {
  fill: black;
  stroke: white;
}

.goal {
  fill: orange;
  stroke: white;
}

.enemy {
  fill: red;
  stroke: black;
}

.weapon {
  fill: blue;
  stroke: white;
}

.item {
  fill: green;
  stroke: white;
}

.dark {
  fill: #440bce;
  stroke: black;
}

.boss {
  fill: white;
  stroke: black;
}

.container{
  min-width: 835px;
  display: flex;
}

.dungeon-map{
  width: 60%;
}

.message{
  height: 250px;
  width: 20%;
  background: #e0dbdb;
  padding: 0px 10px 0 10px;
}
