svg {
  border: 1px solid black;
}

.wall{
  fill: gray;
  stroke: black;
}

.floor{
  fill: skyblue;
  stroke: white;
}

.player {
  fill: black;
  stroke-width: white;
}

.enemy {
  fill: red;
  stroke: black;
}

.weapon {
  fill: blue;
  stroke: white;
}

.item {
  fill: green;
  stroke: white;
}
